<!Doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="keywords" content="HTML,CSS,XML,JavaScript">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Beauty.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Summerizer</title>
   </head>
   <body>
      <div class="head">
         <img src="static/Frame 16 (1).png" alt="NLP">
         <h1>Text Summarizer using Lexrank Algorithm </h1>
      </div>
      <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
         <input id="file" type = "file" name = "file"/>
         <input class="sub" type = "submit"/>
      </form>
   </body>
</html>